/**
 * @brief Chestnut, a theme for Dotclear 2
 *
 * @package Dotclear
 * @subpackage Theme
 *
 * @author Azork (http://xtradotfreedotfr.free.fr/blog/), Pierre Van Glabeke
 *
 * @copyright GPL-2.0 https://www.gnu.org/licenses/gpl-2.0.html
 */
#nav, #menu {display:none;}

#navsm {
  list-style: none !important;
  padding: 2px 2px 0 2px;
  height: 26px;
  position: relative;
  border-bottom: 1px solid #d9d9d9;
  background: linear-gradient(to bottom,  #edeae3 0%,#f6f4ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

#navsm li {
  float: left;
  line-height: 25px;
  margin: 0 1px;
  list-style: none !important;
}

#navsm li:before {
  content: "|";
  margin-left:1px;
}

#navsm a {
  color: #554c46;
  font-size: 12px;
  font-weight: 700;
  display: block;
  padding: 0 8px;
  float: left;
  border-radius: 2px;
  transition: background 150ms ease;
}
#navsm a:hover {
  background: #e2dac9;
  text-decoration: none;
}
#navsm:hover #navsm li:hover a { color: #554c46; background: #e2dac9; }

#navsm li.active > a {
  background: #B88F00;
  text-decoration: none;
  color: #fff;
  border-radius: 2px;
}
#navsm li.active a:hover { background: #e2dac9;color: #554c46; }