/**
 * @brief Chestnut, a theme for Dotclear 2
 *
 * @package Dotclear
 * @subpackage Theme
 *
 * @author Azork (http://xtradotfreedotfr.free.fr/blog/), Pierre Van Glabeke
 *
 * @copyright GPL-2.0 https://www.gnu.org/licenses/gpl-2.0.html
 */
#slider {
  height: 233px;
  position: relative;
  /*width: 618px;*/
  overflow: hidden;
  margin-bottom: 1.5em;
  border: 1px solid #ccc;
}

#slider .slider-container {
  float: left;
  display: inline;
  background-color:#fff !important;
}
#slider .slider-container .image-container {
  overflow: hidden;
  margin: 4px;
  height: 225px;
  display: block;
}
#slider .slider-container img {
  border: none;
  margin: 0;
  padding: 0;
}

#slider .featured-post {
  height: 225px;
  position: absolute;
  right: 4px;
  top: 4px;
  width: 235px;
	padding-left: 150px;
}
#slider .featured-post .post-title { font-size: 24px; line-height: 26px; font-weight: 700; padding: 15px 20px 0 10px; }
#slider .featured-post .post-title a { color: #cd9522; }
#slider .featured-post .post-content {
  padding: 0 10px 0 10px;
}
#slider .featured-post .read-it { margin-right: 10px; margin-top: 0; margin-bottom: 0; }
#slider .featured-post .read-it a:link,
#slider .featured-post .read-it a:visited {
	display: block;
  background: #726a64 url("../img/orange-arrow.png") no-repeat right 50%;
  color: #fff;
  padding: 8px 24px 8px 8px;
  text-transform: uppercase;
  font-size: 10px;
  border-radius: 4px;
	box-shadow: 1px 1px 1px #BBBBBB;
}
#slider .featured-post .read-it a:hover {
  text-decoration: none;
  background: #8d847f url("../img/orange-arrow.png") no-repeat right 50%;
}